@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body{
    background-color: #c0c0c0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*{
    box-sizing: border-box;
}

/*-------------------------------------------------------------------------------------------------------*

    /*------------------------------------*/
        /*--Comienza Encabezamiento--*/
    /*------------------------------------*/

.envase{
    background-color:#2e2e2e;
    max-width: 1140px;
    margin: auto;
}
.fila{
    display: flex;
    flex-wrap: wrap;
}
header{
    background-color: #000000;
    position: absolute;
    right: 0px;
    left:0px;
    border-bottom: 1px solid #9f9f9f;
    z-index: 10;
}
header .fila{
    justify-content: space-between;
    align-items: center;
}
header .nombre-de-la-marca a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    transition: all .5s ease;
}
header .nombre-de-la-marca a:hover{
    color:orangered;
    font-size: 40px;
}
header .barra-de-navegacion ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
header .barra-de-navegacion ul li{
    display: inline-block;
    margin-left: 35px;
}
header .barra-de-navegacion ul li a{
    font-size: 15px;
    text-decoration: none;
    line-height: 72px;
    color: #ffffff;
    display: block;
    font-weight: 600;
    position: relative;
}
header .barra-de-navegacion ul li a::before{
    content: " ";
    height: 3px;
    background-color: #ffffff;
    width: 0%;
    position: absolute;
    right: 0px;
    bottom: -1px;
    transition: all .5s ease;
}
header .barra-de-navegacion ul li a:hover::before{
    width: 100%;
    left: 0;
}
header .barra-de-navegacion ul li a.active::before{
    width: 100%;
    left: 0;
}
    /*------------------------------------*/
         /*--Fin Encabezamiento--*/
    /*------------------------------------*/

/*-------------------------------------------------------------------------------------------------------*/    

    /*------------------------------------*/
            /*--Comienza Contacto--*/
    /*------------------------------------*/
.contacto{
    padding-top: 10px;
}
.contacto .imagen{
    border-radius: 40px;
    margin-left: 550px;
    margin-top: 80px;
    max-width: 300px;
    max-height: 300px;
    border: 5px solid #2e2e2e;
}
.cuentas-sociales{
    padding-top: 30px;
    padding-left: 370px;
    padding-bottom: 80px;
}
.cuentas-sociales a{
    height: 100px;
    width: 100px;
    background-color: #000000;
    border-radius: 18px;
    display: inline-block;
    border: 1px solid #000000;
    line-height: 125px;
    text-align: center;
    margin: 0 10px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.cuentas-sociales a:hover{
    background-color: #ffffff;
    height: 110px;
    width: 110px;
    line-height: 145px;
}
.cuentas-sociales a .fab {
    color: #ffffff;
    font-size: 60px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.cuentas-sociales a:hover .fab {
    color: #000000;
    font-size: 70px;
}


.cv-btn a{
    margin-top: 0px;
    margin-left: 1140px;
    border-radius: 4px;
    color: #000000;
    border: 1px solid #000000;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: transparent;
}
.cv-btn a:hover{
    background-color: #000000;
    color: #ffffff;
}
    /*------------------------------------*/
            /*--Fin Contacto--*/
    /*------------------------------------*/

/*-------------------------------------------------------------------------------------------------------*/
