body{
    background-color: blue;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
}

/*-------------------------------------------------------------------------------------------------------*

    /*------------------------------------*/
        /*--Comienza Encabezamiento--*/
    /*------------------------------------*/

.envase{
    max-width: 1140px;
    margin: auto;
}
.fila{
    display: flex;
    flex-wrap: wrap;
}
header{
    position: absolute;
    right: 0px;
    left:0px;
    border-bottom: 1px solid #000000;
    z-index: 10;
}
header .fila{
    justify-content: space-between;
    align-items: center;
}
header .nombre-de-la-marca a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    transition: all .5s ease;
}
header .nombre-de-la-marca a:hover{
    color:orangered;
    font-size: 40px;
}
header .barra-de-navegacion ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
header .barra-de-navegacion ul li{
    display: inline-block;
    margin-left: 35px;
}
header .barra-de-navegacion ul li a{
    font-size: 15px;
    text-decoration: none;
    line-height: 72px;
    color: #ffffff;
    display: block;
    font-weight: 600;
    position: relative;
}
header .barra-de-navegacion ul li a::before{
    content: " ";
    height: 3px;
    background-color: #ffffff;
    width: 0%;
    position: absolute;
    right: 0px;
    bottom: -1px;
    transition: all .5s ease;
}
header .barra-de-navegacion ul li a:hover::before{
    width: 100%;
    left: 0;
}
header .barra-de-navegacion ul li a.active::before{
    width: 100%;
    left: 0;
}
    /*------------------------------------*/
         /*--Fin Encabezamiento--*/
    /*------------------------------------*/

/*-------------------------------------------------------------------------------------------------------*/    

    /*------------------------------------*/
            /*--Comienza Sobre Mi--*/
    /*------------------------------------*/

.sobre-mi{
    padding: 100px 15px;
}
.sobre-mi .seccion-titulo{
    flex: 0 0 100%;
    max-width: 100%;
}
.sobre-mi .seccion-titulo h1{
    display:inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    margin: 0;
    position: relative;
}
.sobre-mi .seccion-titulo h1:before{
    content: " ";
    left: 0;
    position: absolute;
    height: 2px;
    right: 0;
    background-color: #febd01;
    bottom: 0px;
}
.sobre-mi .seccion-titulo p{
    display: block;
}
    /*------------------------------------*/
            /*--Fin Sobre Mi--*/
    /*------------------------------------*/

/*-------------------------------------------------------------------------------------------------------*/
